<form action="/bars" method="post">
  <div class="form-group">
    <label for=""></label>
    <input type="text" name="name" id="name" required="true">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" name="name" id="name" required="true">
  </div>

</form>
