<form action="/bars/$bar.getId()/votes" method="post">
  <input type="radio" name="rating" value="1">1 Beer<br>
  <input type="radio" name="rating" value="2">2 Beers<br>
  <input type="radio" name="rating" value="3">3 Beers<br>
  <input type="radio" name="rating" value="4">4 Beers<br>
  <input type="radio" name="rating" value="5">5 Beers<br>
  <button type="submit" class="btn btn-primary">Rate</button>
</form>
