<h1>$bar.getName()</h1>
<h3>$bar.getDescription()</h3>
Closes at $bar.getClosingTime()<br>
Happy Hour from $bar.getHappyHour()<br>
#if ($bar.getHasMusic())
  Live Music!<br>
#end
#if ($bar.getHasPool())
  Billiards!<br>
#end
#if ($bar.getHasFryer())
  Fried Food!<br>
#end

<a href="/bars/$bar.getId()/comments/new">ADD COMMENT</a>
#if ($comments)
  <ul>
    #foreach ($comment in $comments)
      <li>"$comment.getComment()"<br>-$comment.getCommenter()</li>
    #end
  </ul>
#end
