<h1>$bar.getName()</h1>
<h3>$bar.getDescription()</h3>
Closes at $bar.getClosingTime()
Happy Hour from $bar.getHappyHour()
#if ($bar.hasMusic())
  Live Music!
#end
#if ($bar.hasPool())
  Live Music!
#end
