<!--index.vtl-->
<h1>Dive Bars</h1>
<a href="/bars/new">ADD BAR</a>
#if ($bars)
  <ul>
    #foreach ($bar in $bars)
      <li><a href="/bars/$bar.getId()">$bar.getName()</a></li>
    #end
  </ul>
#end

<!--index.vtl-->
