<!--index.vtl-->
<h1>Dive Bars</h1>
#if ($bars)
    #foreach ($bar in $bars)
    <div class="panel panel-default">
  <div class="panel-body"><a href="/bars/$bar.getId()">$bar.getName()</a></div>
    </div>
    #end
#end

<!--index.vtl-->
