<!DOCTYPE html>
<html>
  <head>
    <title>dive_bars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">

      <div class="jumbotron">
        <h1>Search Bar</h1>
        <p>A dive bar compendium</p>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/bars/new">Add a Bar</a></li>
          <li>
            <form action="/search" method="post">
              <input type="text" name="search" id="search" value="$query" required>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </li>
        </ul>
      </div>

      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
